*{
    margin: 0;
    padding: 0;
}

.headerbar {
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    z-index: 999;
    background-color: lightgray;
    height: 80px;
    width: 100%;
}

body {
    padding-top: 80px;
}
 
nav {
    justify-content: center;
    float: right;
    margin: 25px 20px 0 0;
    padding: 0 10px;
 }
 
 nav a {
    text-decoration: none;
    color: #000;
    margin: 0 10px;
 }
 
 nav a:hover {
    color: #333;
 }
 
 .category, .search, .inputbtn, .colorsmode {
     float: right;
     margin: 25px 20px 0 0;
     padding: 0 10px;
    }
    
    .category{
        /* text-align: center; */
        height: 25px;
        border-radius: 50px;
        width: 120px;
}
.search{
    height: 25px;
    border-radius: 50px;
    border:none;
    text-decoration: none;
}
.inputbtn{
    height: 25px;
    border-radius: 25px;
    border: none;
}
input{
    text-align: center;
}
button{
    padding: 5px;
}
button:hover{
    transform:scale(1.03)
}
.colorsmode{
    width: 40px;
    height: 25px;
    border-radius: 50px;
    border: none; 
}
.colorsmode:hover{
    transform: scale(1.04)
}
.logo {
    float: left;
    margin: 0 20px 0 20px;
    padding: 0 10px;
    /* font-family: 'Gloria Hallelujah', cursive; */
}
.logo a{
    font-size: 50px;
    color: #000;
    text-decoration: none;
}

.empty{
    width: 100%;
    height: 200px;
}

.cards{
    display: inline-block;
}
.card{
    /* border: 1px solid black; */
    width: 250px;
    height: 400px;
    padding: 5px;
    text-align: center;
    margin: 2px;
    border-radius: 5px;
}

.book_img{
    margin-top: -35px;
    height: 300px;
    width: 250px;
    opacity: 1;
    border-radius: 10px 10px 0px 0px;
}

.book_info{
    padding: 0px;
    margin: -35px;

}
.book_title{
    margin: 5px;
}
.publice{
    margin: 5px;
}
button{
    margin: 5px;
}
.rating{
    padding-top: 7px;
   width: 60px;
   height: 30px;
   position: relative;
   top: 8px;
   left: 8px;
   opacity: 0.6;
   background-color: white;
   border-radius: 10px; 
}

.bookstatus{
    padding-top: 7px;
    width: 85px;
    height: 30px;
    position: relative;
    top: -45px;
    left:160px;
    background-color: white;
    opacity: 0.7;
    border-radius: 15px;
}

btn:hover{
    background-color: black;
}

.footer{
    background-color: lightgray;
    color: black;
    text-align: center;
    opacity: 0.6;
    width: auto;
    height: 100px;
    margin: 2px;
    padding: 20px;
}


